/* Style for Body */
body {
  background-image: url('../images/grey_@2X.png');
  margin: 0px;
  overflow-y: auto;
}

/* Header background */
header {
  display: flex;
  height: 75px;
  justify-content: center;
  background-color: white;
  border-bottom: solid;
  border-bottom-style: inset;
  margin-left: auto;
  margin-right: auto;
}

/* Text Logo Style */  
#logo {
  float:left;
  overflow: hidden;
  clear: both;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-color: #4aaaa5;
  height: 37px;
  padding-right: 19px;
  padding-left: 19px;
  margin-right: 420px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Style the links inside the navigation bar */
#navlist {
  float: right;
  text-align: center;
  align-self: center;
  height: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}   


li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 0px;
}  
    
a:link{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #777777;
  font-size: 10pt;

}

.clear {
  clear: both;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
      
/* title border */
hr.new1 {
  border-top: 1px solid #cccccc;
}

.article {
  background: white;
    width: 940px;
    border: 1px;
    border-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;

}

/* footer style */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: white;
    text-align: center;
  }